laby
.idea
.git
labyrinth_hr_720P.npy
labyrinth_hr_1080P.npy
backup
BD720P
BD720P.mp4
start.bat
main_2.py
BD1080P.mp4
BD1080P
FROMB720P
FROMB720P.mp4
FROMB720P_output.mp4
BD1080P_output
BD1080P_output.mp4
BD1080P_output_output.mp4
target.png
build